* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

.go-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.sitting {
  position: fixed;
  right: 0;
  top: 40%;
  background-color: var(--sec-color);
  color: white;
  z-index: 9999;
  border-radius: 0.25rem;
  cursor: pointer;
}
:root {
  --main-color: #20c997;
  --sec-color: #6c757d;
}

.clear-fix {
  clear: both;
}
.color-green {
  color: var(--main-color);
}
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999999 !important;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #1baa80;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  animation: hid;
  animation-duration: 0s;
  animation-delay: 3s;
  animation-iteration-count: 1;
}
.loading i {
  animation: rotatt;
  animation-duration: 1s;
  animation-iteration-count: 5;
}
@keyframes rotatt {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
@keyframes hid {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*=================================================*/
header {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  z-index: 999;
}
header h2 {
  font-size: 2rem;
  font-weight: 500;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}

header nav ul {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
header a {
  text-decoration: none;
  color: white;
  padding: 1.3rem;
  cursor: pointer;
}

header nav ul a:hover {
  color: var(--main-color);
}

@media screen and (max-width: 992px) {
  header {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.4;
  }
  nav {
    /* flex-direction: column; */
    align-items: center;
  }
  nav h2 {
    position: absolute;
    top: 10%;
  }
  nav ul {
    /* position: absolute; */
    right: 5%;
    flex-direction: column;
    transform: translateX(50%);
  }
  nav li {
    padding: 0.2rem;
  }
}

/*H O M E   =====    S T A R T*/
.home {
  background-image: url(../images/intro-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-attachment: scroll; */
  height: 100vh;
  position: relative;
  color: white;
  margin-bottom: 5rem;
}
.home-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111418;
  opacity: 0.8;
}
.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  position: relative;
  z-index: 3;
  font-weight: 500;
  font-size: 1.75rem;
}

.home-text p {
  margin-bottom: 1rem;
}

.home-text h1 {
  margin-bottom: 1rem;
}
.home-text h1::after {
  content: "";
  animation: typing 11s infinite;
}
@keyframes typing {
  /* Mohammed Maher */
  1% {
    content: "M |";
  }
  2% {
    content: "Mo |";
  }
  3% {
    content: "Moh |";
  }
  4% {
    content: "Moha |";
  }
  5% {
    content: "Moham |";
  }
  6% {
    content: "Mohamm |";
  }
  7% {
    content: "Mohamme |";
  }
  8% {
    content: "Mohammed |";
  }
  9% {
    content: "Mohammed  |";
  }
  10% {
    content: "Mohammed M |";
  }
  11% {
    content: "Mohammed Ma |";
  }
  12% {
    content: "Mohammed Mah |";
  }
  13% {
    content: "Mohammed Mahe |";
  }
  14% {
    content: "Mohammed Maher |";
  }
  15% {
    content: "Mohammed Maher |";
  }
  16% {
    content: "Mohammed Mahe |";
  }
  17% {
    content: "Mohammed Mah |";
  }
  18% {
    content: "Mohammed Ma |";
  }
  19% {
    content: "Mohammed M |";
  }
  20% {
    content: "Mohammed  |";
  }
  21% {
    content: "Mohammed |";
  }
  22% {
    content: "Mohamme |";
  }
  23% {
    content: "Mohamm |";
  }
  24% {
    content: "Mohamm |";
  }
  25% {
    content: "Moham |";
  }
  26% {
    content: "Moha |";
  }
  27% {
    content: "Moh |";
  }
  28% {
    content: "Mo |";
  }
  29% {
    content: "M |";
  }
  30% {
    content: " |";
  }
  /* a Freelancer */
  31% {
    content: "a |";
  }
  32% {
    content: "a  |";
  }
  33% {
    content: "a f |";
  }
  34% {
    content: "a fr |";
  }
  35% {
    content: "a fre |";
  }
  36% {
    content: "a free |";
  }
  37% {
    content: "a freel |";
  }
  38% {
    content: "a freela |";
  }
  39% {
    content: "a freelan |";
  }
  40% {
    content: "a freelanc |";
  }
  41% {
    content: "a freelance |";
  }
  42% {
    content: "a freelancer |";
  }
  43% {
    content: "a freelancer. |";
  }
  44% {
    content: "a freelancer. |";
  }
  45% {
    content: "a freelancer |";
  }
  46% {
    content: "a freelance |";
  }
  47% {
    content: "a freelanc |";
  }
  48% {
    content: "a freelan |";
  }
  49% {
    content: "a freela |";
  }
  50% {
    content: "a freel |";
  }
  51% {
    content: "a free |";
  }
  52% {
    content: "a fre |";
  }
  53% {
    content: "a fr |";
  }
  54% {
    content: "a f |";
  }
  55% {
    content: "a  |";
  }
  56% {
    content: "a |";
  }
  /* a Photographer. */
  57% {
    content: "a  |";
  }
  58% {
    content: "a p |";
  }
  59% {
    content: "a ph |";
  }
  60% {
    content: "a pho |";
  }
  61% {
    content: "a phot |";
  }
  62% {
    content: "a photo |";
  }
  63% {
    content: "a photog |";
  }
  64% {
    content: "a photogr |";
  }
  65% {
    content: "a photogra |";
  }
  66% {
    content: "a photograp |";
  }
  67% {
    content: "a photograph |";
  }
  68% {
    content: "a photographer |";
  }
  69% {
    content: "a photographer. |";
  }
  70% {
    content: "a photographer |";
  }
  71% {
    content: "a photographe |";
  }
  72% {
    content: "a photograph |";
  }
  73% {
    content: "a photograp |";
  }
  74% {
    content: "a photogra |";
  }
  75% {
    content: "a photogr |";
  }
  76% {
    content: "a photog |";
  }
  77% {
    content: "a photo |";
  }
  78% {
    content: "a phot |";
  }
  79% {
    content: "a pho |";
  }
  80% {
    content: "a ph |";
  }
  81% {
    content: "a p |";
  }
  82% {
    content: "a  |";
  }
  /* a Designer. */
  83% {
    content: "a  |";
  }
  84% {
    content: "a D |";
  }
  85% {
    content: "a De |";
  }
  86% {
    content: "a Des |";
  }
  87% {
    content: "a Desi |";
  }
  88% {
    content: "a Desig |";
  }
  89% {
    content: "a Design |";
  }
  90% {
    content: "a Designe |";
  }
  91% {
    content: "a Designer |";
  }
  92% {
    content: "a Designer. |";
  }
  93% {
    content: "a Designer |";
  }
  94% {
    content: "a Designe |";
  }
  95% {
    content: "a Design |";
  }
  96% {
    content: "a Desig |";
  }
  97% {
    content: "a Desi |";
  }
  /* %{content: "a Des |";} */
  98% {
    content: "a De |";
  }
  /* %{content: "a D |";} */
  99% {
    content: "a  |";
  }
  /* 96%{content: "a |";} */
  100% {
    content: " |";
  }
}
.btn {
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  border-width: 2px;
  transition: all 0.5s ease;
  border-radius: 50rem;
  border-color: var(--main-color);
}
.btn-hire {
  background-color: transparent;
  /* border-color: var(--main-color); */
  border-style: solid;
  margin: 1rem 0;
  cursor: pointer;
  color: var(--main-color);
  text-decoration: none;
  font-size: 1rem;
  border-radius: 2.25rem;
}
.btn-hire:hover {
  background-color: var(--main-color);
  color: white;
  border-color: var(--main-color);
}

/*H O M E   =====    E N D */
/*A B O U T    =====    E N D */

.opacity {
  width: 70%;
  margin: auto;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.opacity h2 {
  position: relative;
  font-weight: 600;
  font-size: 2.25rem;
  z-index: 2;
}
.opacity .about-me {
  font-size: 5.3rem;
  position: absolute;
  transform: translate(-20%, -30%);

  color: #dee3e4;
  font-weight: 600;
  opacity: 0.4;
}
.line {
  border-bottom: #20c997 solid 2px;
  width: 10%;
  position: relative;
  transform: translateX(-150%);
}
.about-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about p {
  color: var(--sec-color);
}
.about-text {
  width: 70%;
}
.i-am-simoni h2 {
  margin-bottom: 1rem;
}
.i-am-simoni p {
  margin-bottom: 1rem;
}
.about-list {
  text-align: left;
  width: 30%;
  padding-left: 0.5rem;
}
.about-list ul {
  margin-bottom: 1rem;
  list-style-type: none;
  margin-bottom: 2rem;
}
.about-list li {
  padding: 0.7rem 0rem;
  border-bottom: 1px solid #eaeaea;
  color: var(--sec-color);
}
.about-list li span {
  color: black;
}
.about-list a {
  margin-left: 1.5rem;
}
.about-list .btn-download {
  background-color: var(--main-color);
  color: white;
}

.box {
  width: 25%;
  text-align: center;
  color: var(--sec-color);
  font-size: 3rem;
  position: relative;
}
.box::after {
  width: 100%;
  height: 0;
  top: auto;
  left: 0;
  bottom: -1px;
  border-bottom: 1px dotted #e0dede;
}

.box::before {
  height: 100%;
  top: 0;
  left: -1px;
  border-left: 1px dotted #e0dede;
}
.box p {
  font-size: 1rem;
}
.border-left {
  /* border-left:var( --sec-color) solid 1px; */
}
@media screen and (max-width: 992px) {
  .opacity {
    font-size: 1px;
  }
  .container {
    flex-wrap: wrap;
  }
  .about-text {
    width: 100%;
    flex-wrap: wrap;
  }
  .i-am-simoni {
    width: 90%;
  }
  .about-list {
    width: 90%;
    padding-left: 0;
  }
  ul {
    padding: 0;
  }
  .box {
    width: 50%;
    font-size: 15px;
  }
}

.about-container .separator {
  list-style: none;
  padding: 0;
  width: 100%;
}

.about-container .separator .box {
  padding-top: 0.5em;
}
.about-container .separator .box::after {
  content: "";
  display: block;
  border-right: 1px solid #ccc;
  padding-left: 0.5rem;
}

.about-container .separator .box:last-child::after {
  display: none;
}

/*A B O U T   =====    E N D */

#what-i-do {
  background-color: #f8f9fa;
  margin-bottom: 5rem;
}

.serv-box {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.icon {
  text-align: center;
  background-color: white;
  font-size: 2rem;
  font-weight: 900;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  box-shadow: 0 1px 1px rgb(0 0 0 / 8%);
}

.text h3 {
  margin-bottom: 1rem;
}
.text p {
  color: var(--sec-color);
}
/*===============================================*/
.year {
  display: inline-block;
  padding: 0.35em 0.65em;
  background-color: var(--main-color);
  border-radius: 0.25rem;
  color: white;
  margin-bottom: 1rem;
}
/*=======================================================*/

.progress-bar1 {
  width: 100%;
  height: 10px;
  border-radius: 2.25rem;
  background-color: #6c757d;
  overflow: hidden;
}
.progress-bar1 div {
  background-color: #20c997;
  height: 100%;
  border-radius: 2.25rem;
}

.progress1 .web {
  width: 65%;
}
.progress1 .html {
  width: 95%;
}
.progress1 .js {
  width: 80%;
}
.progress1 .react {
  width: 70%;
}
.progress1 .angular {
  width: 60%;
}
.progress1 .boot {
  width: 99%;
}

@media screen and (max-width: 1200px) {
  .skills-container {
    width: 90%;
  }
}
/*===========================================================*/

.portfolio ul li a {
  color: var(--sec-color);
}
.portfolio ul li a:hover {
  color: var(--main-color);
}
.portfolio ul li a:active {
  border-bottom: var(--main-color) solid 1px;
}

.portfolio .portfolio-box {
  position: relative;
}
.portfolio .portfolio-box .portfolio-img {
  position: relative;
  overflow: hidden;
}
.portfolio .portfolio-box .portfolio-lay {
  text-align: center;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.3s;
}

.portfolio .portfolio-box:hover .portfolio-lay {
  opacity: 1;
}
.portfolio .portfolio-box .portfolio-img img {
  transition: all 0.3s;
}
.portfolio .portfolio-box:hover .portfolio-img img {
  filter: blur(2px);
  transform: scale(1.03);
}
.portfolio .portfolio-box .portfolio-text {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.photo1 {
  left: 0;
  top: 0;
}
.photo2 {
  top: 0;
}
.photo3 {
  top: 0;
}
.photo4 {
  left: 0px;
  top: -65%;
}
.photo5 {
  left: 105%;
  top: -65%;
}
.photo6 {
  left: -105%;
}
.photo7 {
  left: 215%;
  top: -180%;
}

@media screen and (min-width: 0px) and (max-width: 569px) {
  .photo {
    width: 100%;
    left: 0;
  }
  .photo3 {
    left: 0;
  }
  .photo4 {
    left: 0%;
    top: 0%;
  }
  .photo5 {
    left: 0%;
    top: 0%;
  }
  .photo6 {
    left: 0%;
  }
  .photo7 {
    left: 0;
    top: 0%;
  }
}

@media screen and (min-width: 570px) and (max-width: 993px) {
  .portfolio {
    /* background-color: #1baa80; */
  }
  .photo3 {
    top: -70%;
  }
  .photo4 {
    left: -108%;
    top: -20%;
  }
  .photo5 {
    left: 108%;
    top: -160%;
  }
  .photo6 {
    left: 1%;
    top: -90%;
  }
  .photo7 {
    left: -1%;
    top: -140%;
  }
}
/*=======================================================================*/
.contact .send:hover {
  background-color: #1baa80;
}
.contact .send {
  background-color: var(--main-color);
}
